
.contact {
	height: 622px;
}
.contact__title {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
	padding: 54px 0;
	margin: 0 auto;
	position: relative;
}
.contact__title::after {
	content: '';
	position: absolute;
	width: 170px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	margin: auto;
	background-color:#EC7979;
}
.contact__subtitle {
	font-family:'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	color: #86878B;
	margin: 40px auto 89px auto;
}
.contact__form {
	width: 1170px;
	height: 264px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;
}
.form__item {
	width: 50%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	color: #BDBDBD;
	padding-bottom: 16px;
	margin-bottom: 50px;
	margin-left: 30px;
	border: none;
    border-bottom: 2px solid #BDBDBD;
}
.form__item:nth-child(4){
	height: 100%;
}
.contact__button {
	width: 370px;
	height: 58px;
	display: block;
	margin: 0 auto;
	font-family:'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #ffff;
	background: #EC7979;
	border-color: #EC7979;
}
.content-right__button:hover {
	background: #AB4949;
	border-color: #ab4949;
}
.content-right__button:active{
	background: #ec7979;
	box-shadow: inset 0 0 10px 0 #AB4949;
	border-color: #ab4949;
}
