
.footer {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	height: 164px;
	background: #000000;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer__icons {
	margin-top: 35px;
}
.icon {
	width: 53px;
	height: 53px;
	margin: 0 15px;
}
.footer__text {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF80;
	margin: 27px auto;
}
