
.footer {
	margin: 50px auto;
	height: 164px;
	background: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer__icons {
	width: 570px;
	height: 53px;
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
}
.footer__text {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF80;
	margin: 27px auto;
}
