.header {
	width: 100%;
	background: #000000;
}
.header__body{
	max-width: 1200px;
	padding: 0 15px;
	height: 75px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__burger{
	display: none;
}
.header__list {
	width: 570px;
	display: flex;
}
.header__link{
	text-decoration: none;
    padding: 28px 30px;
    color: #ffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
}
.header__link:hover {
    background: #EC7979;
}
.header__link:active{
    background: #ab4949;
}
.banner {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/img09.png') no-repeat center/cover;
	display: flex;
	justify-content: center;
}
.banner__content-left {
	width: 670px;
	margin: 208px 30px 185px 0;
	background: transparent;
}
.banner__content-right {
	height: 450px;
	width: 470px;
	margin: 208px 0 293px 0;
	background: #ffff;
	border-radius: 10px;
}
.content-left__logo {
	margin-bottom: 51px;
}
.content-left__title {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	text-align: left;
	color:#ffff;
	position: relative;
}
.content-left__title::after {
	content: '';
	position: absolute;
	width: 170px;
	left: 0;
	bottom: -55px;
	height: 1px;
	margin: 0 auto;
	background-color:#ffff;
}
.content-left__subtitle {
	font-family:'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
	color: #ffff;
	margin: 97px 0 42px 0;
}
.content-left__button {
	display: block;
	background: transparent;
	width: 270px;
	height: 58px;
	color: #ffff;   
	border: 2px solid #ffff;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
}
.content-left__button:hover{
	border: 2px solid #EC7979;
}
.content-left__button:active{
	background: #ab4949;
	border: 2px solid #ab4949;
}
.content-right__title {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	text-align: center;
	padding: 28.5px 0;
	margin: 0 0 45px 0;
}
.colortext{
	color: #EC7979 ;
}
.content-right__items {
	margin: 0 50px;
}
.item {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	color: #BDBDBD;
	padding-bottom: 16px;
	margin-bottom: 33px;
	border: none;
    border-bottom: 2px solid #BDBDBD;
}
.content-right__button {
	width: 470px;
	height: 60px;
	font-family:'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	color: #ffff;
	background: #EC7979;
	border-color: #EC7979;
	margin-top: 45px;
	border-radius: 0 0 10px 10px;
}
.content-right__button:hover {
	background: #AB4949;
	border-color: #ab4949;
}
.content-right__button:active{
	background: #ec7979;
	box-shadow: inset 0 0 10px 0 #AB4949;
	border-color: #ab4949;
}
.media {
	width: 100%;
	height: 140px;
	background: #F8EFEF;
}
.media__container{
	max-width: 1200px;
	height: 120px;
	padding: 0 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto 18px auto;
}
.media__content-title {
	width: 470px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
	padding: 14px 0;
}
.media__content-subtitle {
	width: 470px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #86878B;
	margin-top: 18px;
}
.media__icons{
	width: 670px;
	display: flex;
	justify-content:space-between;
}
.icon-1{
	height: 70px;
	width: 70px;
}