
.pricing {
	max-width: 1200px;
	height: 900px;
	padding: 50px 15px;
	margin: 0 auto;
	background: #F5F5F5;
}
.pricing__title {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
	position: relative;
	margin-bottom: 40px;
	padding: 54px 0;
}
.pricing__title::after {
	content: '';
	position: absolute;
	width: 170px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	margin: auto;
	background-color: #EC7979;
}
.pricing__subtitle {
	font-family: 'Raleway', sans-serif;
	color: #86878B;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	margin-bottom: 59px;
}
.pricing__content {
	display: flex;
	justify-content: center;
}
.content__columns:nth-child(2) {
	position: relative;
	bottom: 20px;
	box-shadow:  0 10px 10px #86878B;
	margin: 0 30px 0 30px;
}
.column__title{
	width: 370px;
	color: #ffff;
	background: #333333;
	border: 2px solid #F5F5F5;
	font-family: 'Open Sans', sans-serif;
	line-height: 33px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding: 11.5px 0;
}
.column__price {
	width: 370px;
	color: #ffff;
	background: #333333;
	border: 2px solid #F5F5F5;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	text-align: center;
	padding: 27px 0;
}
.column__description {
	width: 370px;
	color:  #FFFFFF80;
	background: #333333;
	border: 2px solid #F5F5F5;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	padding: 12.5px 0;
}
.column__row {
	width: 370px;
	color:  #86878B;
	background: #ffff;
	border: 2px solid #F5F5F5;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	padding: 12.5px 0;
}
