*{
	padding: 0;
	margin: 0;
	border: 0;
}
html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 14px;
}
*::before,
*::after {
  box-sizing: border-box;
}
input, button, textarea{
  font-family: inherit;
}
