
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a:focus,a:active{outline: none;}

input, textarea {
	-webkit-appearance: none;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li,
fieldset, form, label, input, menu, nav,textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
