@import url("https://fonts.googleapis.com/css?family=Raleway:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700&display=swap");

@import url(about.css);
@import url(tabs.css);
@import url(pricing.css);
@import url(reset.css);
@import url(header.css);
@import url(customers.css);
@import url(design.css);
@import url(footer.css);
@import url(contact.css);


@media (max-width: 1024px) {
	.header__body{
		max-width: 1024px;
        padding: 0 16px;
	}     
	.header__list{
		width: 566px;
	}
	.banner{
        max-width: 1024px;
		padding: 0 16px;
		margin: 0 auto;
	}
	.banner__content-left{
		width: 454px;
		margin: 137px 36px 132px 0;
	}
	.banner__content-right{
		height: 450px;
		width: 398px;
		margin: 137px 0 106px 20px;
	}
	.content-left__logo{
		margin-bottom: 37px;
	}
	.content-left__title{
		font-size: 36px;
		line-height: 42px;
	}
	.content-left__title::after{
		width: 115px;
		bottom: -41px;
	}
	.content-left__subtitle{
		font-size: 14px;
		line-height: 16.44px;
		margin: 72px 0 31px 0;
	}
	.content-left__button{
		width: 183px;
		height: 50px;
	}
	.content-right__title{
		font-size: 18px;
		line-height: 24.5px;
		padding: 32.75px 0;
		margin-bottom: 45px;
	}
	.item{
		margin-bottom: 52px;
	}
	.content-right__button{
		width: 397px;
		margin-top: 42px;
	}

	.media__container{
		max-width: 1024px;
		padding: 0 16px;
		height: 105px;
	}
	.media__content-title{
		font-size: 18px;
		line-height: 24.5px;
		padding: 10.25px 0;
	}
	.media__content-subtitle{
		font-size: 14px;
		line-height: 16.44px;
		margin: 13px 0;
	}
    .media__icons{
        width: 570px;
    }
	.icon-1{
		height: 64px;
		width: 64px;
	}
	/*section tabs*/
	.tabs{
		max-width: 1024px;
		height: 425px;
		padding: 0 16px;
		margin: 50px auto;
	}
	.tab{
		width: 160px;
	}
	.content{
		background-size: 398px 385px;
	}
	.content__left{
		height: 385px;
		margin: 0 26px 0 85px;
	}
	.title{
		font-size: 24px;
		line-height: 33px;
		padding: 28px 0;
		margin-bottom: 38px;
	}
	.text{
		height: 112px;
		font-size: 14px;
		line-height: 16.44px;
		margin-bottom: 38px;
	}
	.button{
		min-width: 232px;
		margin-bottom: 50px;
	}
	/*section about*/
	.about{
		max-width: 1024px;
		padding: 0 16px;
		height: 518px;
	}
	.about__title {
		font-size: 24px;
		line-height: 28px;
		padding: 56px 0;
		margin-bottom: 32px;
	}
	.about__title::after{
		width: 142px;
	}
	.about__subtitle {
		font-size: 14px;
		line-height: 16.44px;
		margin-bottom: 66px;
	}
	.content__img {
		height: 79.5px;
		width: 79.5px;
	}
	.content__title {
		font-size: 18px;
		padding: 29.25px 0;
		margin: 34px 0 17px 0;
	}
	.content__text {	
		height: 80px;
		font-size: 14px;
		line-height: 16.44px;
	}
	/*section pricing*/
	.pricing {
		height: 770px;
	}
    .pricing__body{
        max-width: 1024px;
		padding: 0 16px;
    }
	.pricing__title {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 32px;
		padding: 46px 0;
	}
	.pricing__title::after {
		width: 143px;
	}
	.pricing__subtitle {
		font-size: 14px;
		line-height: 16.44px;
		margin-bottom: 50px;
	}
	.content__columns:nth-child(2) {
		margin: 0 20px;
	}
	.column__title{
		padding: 10px 0;
	}
	.column__price {
		padding: 23px 0;
	}
	.column__description {
		padding: 11.5px 0;
	}
	.column__row {
		padding: 11.5px 0;
	}
	/*sectoin customers*/
	.customers {
		max-width: 1024px;
		padding: 0 16px;
		margin: 50px auto;
	}
	.customers__title {
		font-size: 24px;
		line-height: 28px;
		padding: 46px 0;
		margin-bottom: 32px;
	}
	.customers__title::after {
		width: 142px;
	}
	.customers__subtitle {
		font-size: 14px;
		line-height: 16.44px;
		margin-bottom: 32px;
	}
	.content__columns-text {
		height: 180px;
		font-size: 14px;
		line-height: 16.44px;
	}
	.avatar {
		height: 63px;
		width: 63px;
	}
	.name {
		font-size: 18px;
		line-height: 24.5px;
		padding: 6px 0;
		margin: 0 20px 9px 100px;
	}
	.desk {
		font-size: 14px;
		line-height: 16.44px;
		margin: 0 20px 0 100px;
	}
	/*section design*/
	.design{
		max-width: 1024px;
		padding: 0 16px;
		height: 358px;
	}
	.design__title{
		font-size: 24px;
		line-height: 28px;
		padding: 46px 0;
	}
	.design__title::after {
		width: 142px;
	}
	.design__subtitle {
		font-size: 14px;
		line-height: 16.44px;
		text-align: center;
		color: #ffffff;
		margin: 32px auto;
	}
	.design__button {
		width: 318px;
	}
	/*section contact*/
	.contact {
		max-width: 1024px;
		padding: 0 16px;
		height: 562px;
		margin: 0 auto;
	}
	.contact__title {
		font-size: 24px;
		line-height: 42px;
		padding: 46px 0;
	}
	.contact__title::after {
		width: 143px;
	}
	.contact__subtitle {
		font-size: 16px;
		line-height: 16.44px;
		margin: 32px auto 72px auto;
	}
	.form__item:nth-child(4){
		margin-left: 20px;
	}
	.contact__button {
		width: 318px;
	}
	/*footer*/
	.footer {
		max-width: 1024px;
		padding: 0 16px;
	}
	.icon {
		width: 45px;
		height: 45px;
	}
	.footer__text {
		font-size: 14px;
		line-height: 16.44px;
		margin: 30px auto;
	}
}
@media (max-width: 768px) {
	.header__body{
		height: 56px;
	}

	.header__burger{
		display: block;
		position: relative;
        float: right;
		width: 24px;
		height: 18px;
		cursor: pointer;
	}
	.header__burger span{
        display: block;
		position: absolute;
        top: 19px;
		left: 8;
		right: 8;
		height: 2px;
        background: #fff;
	}
	.header__burger span::before,
	.header__burger span::after {
		content: "";
        position: absolute;
        display: block;
		width: 100%;
		height: 2px;
        background: #fff;
	}
	.header__burger::before{
		top: 0;
	}
	.header__burger::after {
		bottom: 0;
	}
	.header__menu{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 56px;
	}
	.header__list {
		display: block;
		text-align: center;
	}
	.header__link {
		width: 280px;
		padding: 24px 0;
	}
	.banner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.banner__content-left {
		width: 288px;
		margin: 84px auto 56px auto;
	}
	.banner__content-right {
		height: 381px;
		width: 288px;
		margin: 0 auto 50px auto;
	}
	.content-left__logo {
		display: none;
	}
	.content-left__title {
		font-size: 36px;
		line-height: 42px;
		text-align: center;
	}
	.content-left__title::after {
		width: 134px;
		bottom: -43px;
		left: 0;
		right: 0;
	}
	.content-left__subtitle {
		font-size: 14px;
		line-height: 16.44px;
		text-align: center;
		margin: 85px 0 42px 0;
	}
	.content-left__button {
		width: 288px;
		height: 50px;
	}
	.content-right__title {
		font-size: 14px;
		line-height: 19px;
		padding: 35.5px 0;
		margin: 0 auto;
	}
	.content-right__items {
		margin: 0 20px 0 28px;
	}
	.item {
		width: 240px;
		padding-bottom: 16px;
		margin-bottom: 33px;
	}
	.content-right__button {
		width: 288px;
		margin-top: 21px;
	}
	.media {
		height: 239px;
	}
	.media__container{
		display: flex;
		flex-direction: column;
        align-items: center;
	}
	.media__content-title {
		font-size: 18px;
		line-height: 24.5px;
		text-align: center;
		padding: 10.25px 0;
		margin-top: 31px;
	}
	.media__content-subtitle {
		font-size: 14px;
		line-height: 16.44px;
		text-align: center;
		margin-top: 13px;
	}
	.media__icons{
        max-width: 288px;
		margin-top: 32px;
		display: flex;
		justify-content:space-between;
	}
	.icon-1{
		height: 26px;
		width: 26px;
	}
	/*tabs*/
	.tabs {
		height: 470px;
		margin-top: 41px;
	}
	.tab {
		width: 95px;
	}
	.content {
		background: #fff
	}
	.content__left {
        width: 80%;
		height: 431px;
		margin: 0 23px;
	}
	.title {
		font-size: 18px;
		line-height: 24.5px;
		text-align: center;
		padding: 31.5px 0;
		margin-bottom: 29px;
	}
	.text {
		height: 180px;
		font-size: 13px;
		line-height: 15px;
		text-align: center;
		margin-bottom: 29px;
	}
	.button{
        display: block;
		min-width: 242px;
		padding: 17px 0;
		margin: 0 auto;
	}
	/*about*/
	.about {
		height: 1199px;
		margin-bottom: 60px;
	}
	.about__title {
		font-size: 18px;
		line-height: 21px;
		padding: 49.5px 0;
		margin-bottom: 25px;
	}
	.about__title::after{
		width: 134px;
	}
	.about__subtitle {
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 40px;
	}
	.about__content {
		display: flex;
		flex-direction: column;
	}
	.content__img {
		height: 79.5px;
		width: 79.5px;
		align-items: center;
		justify-content: center;
		display: block;
		margin-top: 43px;
	}
	.content__title {
		font-size: 18px;
		line-height: 24px;
		padding: 29px 0;
		margin: 33px 0 9px 0;
	}
	.content__text {
		height: 80px;
		font-size: 14px;
		line-height: 16.44px;
	}
	/*pricing*/
	.pricing {
		height: 1480px;
	}
	.pricing__title {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 24px;
		padding: 46px 0;
	}
	.pricing__title::after {
		width: 134px;
	}
	.pricing__subtitle {
		font-size: 14px;
		line-height: 16.44px;
		margin-bottom: 24px;
	}
	.pricing__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.content__columns{
		margin-bottom: 27px;
	}
	.content__columns:nth-child(2) {
		position: relative;
		box-shadow: none;
        margin: 0;
	}
	.column__title{
		line-height: 24.5px;
		font-size: 18px;
		padding: 9.25px 0;
	}
	.column__price {
		font-size: 24px;
		line-height: 28px;
		padding: 23px 0;
	}
	.column__description {
		font-size: 14px;
		line-height: 16.44px;
		padding: 9.39px 0;
	}
	.column__row {
		width: 288px;
		font-size: 14px;
		line-height: 16.44px;
		padding: 9.39px 0;
	}
	/*customers*/
	.customers {
		margin-bottom: 31.5;
	}
	.customers__title {
		font-size: 24px;
		line-height: 28px;
		padding: 46px 0;
		margin-bottom: 24px;
	}
	.customers__title::after {
		width: 134px;
	}
	.customers__subtitle {
		font-size: 14px;
		line-height: 16.44px;
		padding: 0;
		margin-bottom: 24px;
	}
	.customers__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.customers__content-columns {
		flex: 0 0 calc(100% / 3);
	}
	.content__columns-text {
		font-size: 14px;
		line-height: 16.44px;
        padding: 0 20px;
		margin-bottom: 62px;
		position: relative;
	}
	.content__columns-text::after {
		left: 50px;
	}
	.avatar {
		height: 57px;
		width: 57px;
	}
	.name {
		font-size: 14px;
		line-height: 19px;
		padding: 8.5px 0;
		margin-bottom: 10px;
	}
	.desk {
		font-size: 13px;
		line-height: 15px;
		margin-bottom: 32px;
	}
	/*design*/
	.design{
		height: 358px;
		margin-bottom: 0px;
	}
	.design__title{
		font-size: 24px;
		line-height: 28px;
		padding: 46px 0;
		margin-bottom: 16px;
	}
	.design__title::after {
		width: 143px;
	}
	.design__subtitle {
		font-size: 18px;
		line-height: 16.44px;
		margin: 0 auto 58px auto;
	}
	.design__button {
		width: 287px;
		height: 50px;
	}
	/*contact*/
	.contact {
		height: 807px;
	}
	.contact__title {
		font-size: 24px;
		line-height: 28px;
		padding: 46px 0;
	}
	.contact__title::after {
		width: 134px;
	}
	.contact__subtitle {
		font-size: 14px;
		line-height: 16.44px;
		margin: 24px auto 44px auto;
	}
	.contact__form {
        max-width: 288px;
		height: 567px;
		display: flex;
		flex-direction: row;
		margin-bottom: 50px;
	}
	.form__item {
		width: 288px;
	}
	.form__item:nth-child(4){
		height: 50%;
		margin-left: 0;
	}
	.contact__button {
		width: 288px;
		height: 50px;
		margin-bottom: 50px;
	}
	/*footer*/
	.footer {
		margin-top: 0px;
		display: flex;
		flex-direction: column;
	}
	.footer__icons {
		width: 288px;
		display: flex;
		justify-content: space-between;
	}
	.icon {
		width: 26px;
		height: 26px;
		margin: 0;
	}
	.footer__text {
		font-size: 14px;
		line-height: 16.44px;
		margin: 42px auto 45px auto ;
	}
}